<p>
  KarlVonBahnhof also on Reddit, Chris belongs to the crypto trader class of 2013.
Located in the Americas most of the time, you're most likely to meet at r/BitcoinMarkets though.</p>


<p id="author-social">
<a href="https://twitter.com/_karlvonbahnhof"><i class="fa fa-twitter-square fa-2x"></i></a>

<a href="https://www.facebook.com/chris.appell.90"><i class="fa fa-facebook-square fa-2x"></i></a>

<a href="https://www.reddit.com/u/karlvonbahnhof"><i class="fa fa-reddit-square fa-2x"></i></a>

<a href="mailto:chris@altcointrading.net"><i class="fa fa-envelope fa-2x"></i></a>
</p>
