---
layout: default
navi:
 exclude: yes
---
<div class="container">
  <div class="row">
   <div class="eight columns offset-by-two">

     <section id="atnet-press-block">
       {% include pressblock.html %}
     </section><!-- // end press block -->

    <div class="clearfix"></div>


    <section id="new-posts">

      <span class="note">Latest News from AltcoinTrading.net</span>


      <!-- Pagination links -->
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="prev"><< Previous</a>
        {% else %}
          <span class="prev"><< Previous</span>
        {% endif %}
        <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Next >></a>
        {% else %}
          <span class="next ">Next >></span>
        {% endif %}
      </div>



      {% for post in paginator.posts  %}

        <div class="row home-latest"  id="gtm-latest">
          <div class="seven columns">
            <h5 class="post">
              <strong>
                {% if post.stories %}<span class="tag">{{ post.genres }}</span>&nbsp;
                {% elsif post.note %}<span class="tag custom-note {{ post.noteclass }}">{{ post.note }}</span>&nbsp;
                {% endif %}
                <small>{{ post.date | date: "%d %b %Y, %R" }} UTC, by {{ post.author_name }}</small>
                <br>
                <a  class="index-internal"  href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
              </strong>
            </h5>
            <div class="home-latest-excerpt">
              {% if post.last_modified_at %}UPDATE {{ post.last_modified_at | date: "%d %b %Y, %R" }} UTC - {% endif %}{{ post.description }}
            </div>
          </div>
          {% if post.image[0] %}
          <div class="five columns">
            <a  class="index-internal" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
              <figure class="thumb">
                <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Trading Blog"
                layout="responsive"
                data-original-width="720px" data-original-height="360px"
                width="150px" height="80px">
                </amp-img>
              </figure>
            </a>
          </div>
          {% endif %}
        </div>
      {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="prev"><< Previous</a>
      {% else %}
        <span class="prev"><< Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next >></a>
      {% else %}
        <span class="next ">Next >></span>
      {% endif %}
    </div>


    </section>



    <section>
      <!-- SLOT 1  -->
      <br>
      {{ site.ledger_728-90_animated }}
      <br>

    </section>

      </div>


  </div>
  </div>
</div>
