<div class="row dogeshare-mobile">
  <div class="columns six">
    <span class="doge-share"></span>
    <span class="share-cta">PLZ SHARE THIS POST</span>
    <ul class="social share">
      <li id="gtm-fbshare">
        <amp-social-share type="facebook" width="40" height="40"
        data-param-text="Just read {{ page.title }} {% if page.author_name %}by {{ page.author_name }}{% endif %} at {{ site.url }}">
        </amp-social-share>
      </li>
      <li id="gtm-twittershare">
        <amp-social-share type="twitter" width="40" height="40"
        data-param-text="Just read {{ page.title }} by {% if page.author_twitter %}{{ page.author_twitter }}{% else %}@altcointrading_{% endif %} at altcointrading.net">
        </amp-social-share>
      </li>
      <li id="gtm-linkedinshare">
        <amp-social-share type="linkedin" width="40" height="40"
        data-param-text="Just read {{ page.title }} {% if page.author_name %}by {{ page.author_name }}{% endif %} at {{ site.url }}"></amp-social-share>
      </li>
      <li>
        <amp-social-share type="gplus" width="40" height="40"
        data-param-text="Just read {{ page.title }} {% if page.author_name %}by {{ page.author_name }}{% endif %} at {{ site.url }}"></amp-social-share>
      </li>
    </ul>
  </div>
  <div class="columns six dogeshare-second">
    <div>
    <p>More news, trading & airdrops <a target="_blank" href="https://twitter.com/altcointrading_">@altcointrading_</a></p>
    <p>News from the business of crypto <a target="_blank" href="https://twitter.com/BOC__Official">@BOC__Official</a></p>

    </div>
  </div>
</div>
