<div class="container">

<div class="row space">
  <div class="twelve columns container-center">
    {% include dogelike.html %}
  </div>
</div>
<div class="row space">
  <div class="twelve columns">
      <a title="Home" href="/">All News</a> |
      <a title="{{site.title}} BOC" href="{{ site.atneturl }}/tag/businessofcrypto/">#BusinessOfCrypto</a> |
      <a title="{{site.title}} Airdrops" href="{{ site.atneturl }}/airdrops/">Airdrops & Bounties</a> ||
      <a target="_blank" title="Twitter" href="https://twitter.com/altcointrading_">@altcointrading_</a> |
      <a target="_blank" title="Twitter" href="https://twitter.com/BOC__Official">@BOC__Official</a>
        <br>
    <h2>1 DOGE = 1 DOGE</h2>
    <br>
    <p class="container-center">
      ATNET, Edificio Citicenter 4th Floor, Av. Francisco Solano Lopez 3794<br>
      Asuncion PY-3794, Tel: +595 21 620 7326, Email: news@altcointrading.net<br>
    </p>
    &#169; 2016-2018 | <a class="footer-internal" title="{{site.title}} Contact" href="/contact/">Contact</a> | <a class="footer-internal" title="About & Legal" href="/legal/">Legal</a> |
    <a class="footer-internal" title="Trading disclaimer" href="{{ site.atneturl }}/disclaimer/?utm_medium=Google-News&utm_source=AltcoinTradingNews">Disclaimer</a> ||

  </div>
</div>


</div>
