<div class="container">

<div class="row space">
  <div class="twelve columns container-center">
    {% include dogelike.html %}
  </div>
</div>
<div class="row space">
  <div class="twelve columns">
    <a class="footer-internal" title="Altcoin Trading Deutsch" href="https://de.altcointrading.net/?utm_medium=Google-News&utm_source=AltcoinTradingNews">AltcoinTrading DE</a> -
    <a class="footer-internal" title="Altcoin Trading CZ" href="https://altcointrading.cz/?utm_medium=Google-News&utm_source=AltcoinTradingNews">AltcoinTrading CZ</a> ||
    <a class="footer-internal" title="About & Legal" href="{{ site.atneturl }}/about/?utm_medium=Google-News&utm_source=AltcoinTradingNews">Privacy</a> |
    <a class="footer-internal" title="Trading disclaimer" href="{{ site.atneturl }}/disclaimer/?utm_medium=Google-News&utm_source=AltcoinTradingNews">Disclaimer</a> ||
    <br>
    <h2>1 DOGE = 1 DOGE</h2>
    <br>
    <p class="container-center">
      ATNET, Edificio Citicenter 4th Floor, Av. Francisco Solano Lopez 3794<br>
      Asuncion PY-3794, Tel: +595 21 620 7326, Email: news@altcointrading.net<br>
    </p>
    &#169; 2016-2018 | <a class="footer-internal" title="{{site.title}} Contact" href="{{ site.atneturl }}/contact/">Contact Us</a>
  </div>
</div>




<!-- Google Tag Manager -->
<amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-TJNG2LQ&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>


<amp-analytics type="googleanalytics">
<script type="application/json">
{
  "vars": {
    "account": "UA-73503011-3"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    },
    "outboundLinks": {
        "on": "click",
        "selector": "a",
        "request": "event",
        "vars": {
          "eventCategory": "outbound",
          "eventAction": "click",
          "eventValue": "${outboundLink}"
        }
      }
  }
}
</script>
</amp-analytics>
</div>
