<div class="container header-wrap">
  <div class="row">

    <div class="twelve columns stripe">

      <div class="four columns pull-left" id="performancebox">
        <amp-iframe
          width=320 height=235px
          layout="responsive"
          sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
          src="https://data.altcointrading.net/compare/header.html">
          <amp-img layout="fill" src="/img/ads/ad-placeholder.jpg" placeholder></amp-img>
        </amp-iframe>
      </div>

      <div class="four columns">
        <div class="logo">
          <a href="/"><amp-img itemprop="image" alt="{{ site.title }}"
          src="{{ site.url }}{{ site.baseurl}}/img/logo.jpg"
          layout="responsive"
          data-original-width="75px" data-original-height="90px"
          width="75px" height="90px"></amp-img></a>
        </div>
        <div class="textlogo">
          <div role="button" on="tap:sidebar1.toggle" tabindex="0" class="tooltip-label-menu"><i class="fa fa-bars fa-2" aria-hidden="true"></i></div>
          <h1><a href="/">News.AltcoinTrading.NET</a></h1>
          <h2><a href="/">News & Analyses</a></h2>
          <small><em>{{ site.subtitle }} Folow us on Twitter <a target="_blank" href="https://twitter.com/altcointrading_">@altcointrading_</a>.</em></small>
        </div>
      </div>


      <div class="four columns pull-right" id="altindexbox">
          <amp-iframe
            width=300 height=90
            layout="fixed"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
            src="https://data.altcointrading.net/embed/index.html">
            <amp-img layout="fill" src="/img/ads/ad-placeholder.jpg" placeholder></amp-img>
          </amp-iframe>
      </div>
    </div>
  </div>

        <!-- ====DESKTOP===== MENU START -->
        <nav class="main" id="desktopmenu">
          <div class="twelve columns desktop-only">
            <ul class="navi">
              {% include menu.html %}
            </ul>
          </div>
        </nav>
        <!-- nav END -->

</div>

<amp-sidebar id="sidebar1" layout="nodisplay" side="left">
<div role="button" aria-label="close sidebar" on="tap:sidebar1.toggle" tabindex="0" class="close-sidebar">✕</div>
<ul class="navi mobile-only">
  {% include menu.html %}
</ul>
</amp-sidebar>
