<li><a title="Home" href="/">All News</a></li>
<li><a>&middot;</a></li>
<li><a title="{{site.title}} BOC" href="{{ site.atneturl }}/tag/businessofcrypto/">#BusinessOfCrypto</a></li>
<li><a title="{{site.title}} No-ICO projects" href="{{ site.atneturl }}/category/no-ico/">No-ICO&nbsp;Projects</a></li>
<li><a>&middot;</a></li>
<li><a title="{{site.title}} Security" href="{{ site.atneturl }}/security/"><span class="yellow">Crypto Security</span></a></li>
<li><a title="Cryptocurrency Trading Strategy" href="{{ site.atneturl }}/strategy/">Trading Strategy</a></li>
<li><a>&middot;</a></li>
<li><a title="Cryptocurrency Trading Blog" href="{{ site.atneturl }}/category/trading/">Trading Blog</a></li>
<li><a title="Cryptocurrency Newbie Traders Guides" href="{{ site.atneturl }}/guides/">Guides</a></li>
<li><a>&middot;</a></li>
<li><a title="{{site.title}} Airdrops" href="{{ site.atneturl }}/airdrops/">Airdrops & Bounties</a></li>
