<li><a title="{{site.title}} Exchanges" href="{{ site.atneturl }}/category/exchanges/">News Regarding Exchanges</a></li>
<li><a title="{{site.title}} No-ICO projects" href="{{ site.atneturl }}/category/no-ico/">No-ICO&nbsp;Projects</a></li>
<li><a>&middot;</a></li>
<li><a title="{{site.title}} Security" href="{{ site.atneturl }}/security/"><span class="yellow">Crypto Security</span></a></li>
<li><a title="Cryptocurrency Trading Strategy" href="{{ site.atneturl }}/strategy/">Trading Strategy</a></li>
<li><a>&middot;</a></li>
<li><a title="Cryptocurrency Trading Blog" href="{{ site.atneturl }}/category/trading/">AltcoinTrading Blog</a></li>
<li><a title="Cryptocurrency Newbie Traders Guides" href="{{ site.atneturl }}/guides/">Newbie Trader Guides</a></li>
<li><a>&middot;</a></li>
<li><a title="{{site.title}} Airdrops" href="{{ site.atneturl }}/airdrops/">Current Airdrops</a></li>
<li><a rel="nofollow,noopener" title="Bitcoin Forks Info" href="https://forkit.info">Current Forks</a></li>
