<span class="note">#Cryptolounge</span>

{% include medium/lounge.html %}

<div class="google-news-tag">What we're Reading</div>
<span class="note" id="news">Newsblade</span>
<section class="newsblade" id="newsnews">
  <amp-iframe width=320 height=500px layout="responsive" sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms" src="https://atnet-feeds.netlify.com/newsblade"><amp-img layout="fill" src="/img/ads/ad-placeholder.jpg" placeholder></amp-img></amp-iframe>
</section>
