amp-user-notification, #amp-user-notification1 {
    width: auto;
    padding: 20px 20px 0;
    background: #f9f9f9;
}

.altcointradingnet-bio{
  background: #f9f9f9;
  padding: 3em 2em 1em;
}
.altcointradingnet-bio #author-social > a {
  border-bottom: none
}
.container-center {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
#atnet-press > div {
  border-left: 5px solid #03203f;
  padding: 10px;
  padding-top:0;
}

.textlogo > h1 {
    color: #010b18;
    font-weight: 800;
    font-size: 2.4rem;
    margin-bottom: 0;
}
.textlogo > h2 {
    color: #010b18;
    font-weight: 800;
    font-size: 3.4rem;
}
.textlogo a {
text-decoration: none;
color: #010b18;
}

#drops {
  display: block;
  clear:both;
  width:100%;
}
