<!DOCTYPE html>
<html amp lang="en">
{% include head-news.html %}
<body>
  <amp-user-notification
    layout=nodisplay
    id="amp-user-notification1"
    data-persist-dismissal="true">
    This site does NOT personalize content.
    <a href="/legal/">Learn more</a>
   <button on="tap:amp-user-notification1.dismiss">Cool</button>
  </amp-user-notification>
  
{% include header.html %}

{{ content | replace: '<a href="http', '<a rel="noopener" target="_blank" href="http' }}
<footer>
  <div class="footer">
    {% include footer.html %}
  </div>
</footer>
</body>
</html>
